* {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }
  @media (max-width: 1500px) {
    html {
      font-size: 9px; } }
  @media (max-width: 1300px) {
    html {
      font-size: 8px; } }
  @media (max-width: 800px) {
    html {
      font-size: 7px; } }
  @media (max-width: 600px) {
    html {
      font-size: 6px; } }
  @media (max-width: 300px) {
    html {
      font-size: 5px; } }

a {
  text-decoration: none;
  color: inherit; }

.flex-spacer {
  flex: 1; }

.mg-hz-md {
  margin: 0 10rem; }
  @media (max-width: 1750px) {
    .mg-hz-md {
      margin: 0 7rem; } }
  @media (max-width: 1200px) {
    .mg-hz-md {
      margin: 0 4rem; } }
  @media (max-width: 375px) {
    .mg-hz-md {
      margin: 0 2rem; } }

.visible-mb {
  display: none; }
  @media (max-width: 500px) {
    .visible-mb {
      display: block; } }

.vertical {
  height: 100%;
  width: 1px;
  background: #ebebeb; }

.nav {
  width: 100%;
  height: 13.5vh;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
  .nav__logo {
    margin-left: 15rem; }
    @media (max-width: 1600px) {
      .nav__logo {
        margin-left: 11.5rem; } }
    @media (max-width: 1200px) {
      .nav__logo {
        margin-left: 9rem; } }
    @media (max-width: 1100px) {
      .nav__logo {
        margin-left: 5rem; } }
    @media (max-width: 400px) {
      .nav__logo {
        margin-left: 3.5rem; } }
    @media (max-width: 375px) {
      .nav__logo {
        margin-left: 2.5rem; } }
    @media (max-width: 800px) {
      .nav__logo img {
        width: 30rem; } }
    @media (max-width: 600px) {
      .nav__logo img {
        width: 25rem; } }
    @media (max-width: 460px) {
      .nav__logo img {
        width: 20rem; } }
  .nav__links {
    list-style-type: none;
    display: flex;
    flex-direction: row; }
    @media (max-width: 1050px) {
      .nav__links {
        display: none; } }
  .nav__link {
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 500; }
    .nav__link:not(:first-child) {
      margin-left: 11rem; }
      @media (max-width: 1850px) {
        .nav__link:not(:first-child) {
          margin-left: 8rem; } }
      @media (max-width: 1700px) {
        .nav__link:not(:first-child) {
          margin-left: 6rem; } }
      @media (max-width: 1400px) {
        .nav__link:not(:first-child) {
          margin-left: 5rem;
          font-size: 1.65rem; } }
    .nav__link-active {
      color: #ffe13e; }
  .nav__info {
    margin-right: 15rem; }
    @media (max-width: 1600px) {
      .nav__info {
        margin-right: 11.5rem; } }
    @media (max-width: 1200px) {
      .nav__info {
        margin-right: 9rem; } }
    @media (max-width: 1100px) {
      .nav__info {
        margin-right: 5rem; } }
    @media (max-width: 400px) {
      .nav__info {
        margin-right: 3.5rem; } }
    @media (max-width: 375px) {
      .nav__info {
        margin-left: 2.5rem; } }
    .nav__info-text {
      margin-bottom: 1.5rem;
      font-size: 1.3rem;
      font-weight: 500; }
      @media (max-width: 400px) {
        .nav__info-text {
          font-size: 1.2rem; } }
      @media (max-width: 360px) {
        .nav__info-text {
          font-size: 1rem; } }
      @media (max-width: 340px) {
        .nav__info-text {
          font-size: .9rem; } }
    .nav__info-button {
      border: none;
      background: #ffe13e;
      color: #000;
      padding: 1rem 3rem;
      font-size: 1.5rem;
      font-family: inherit;
      font-weight: 500;
      cursor: pointer; }
      @media (max-width: 360px) {
        .nav__info-button {
          padding: .9rem 2.2rem; } }
      @media (max-width: 340px) {
        .nav__info-button {
          padding: .8rem 1.5rem;
          font-size: 1.2rem; } }
    .nav__info-number {
      font-style: normal;
      font-size: 2.2rem;
      letter-spacing: 1px;
      font-weight: 500; }
      @media (max-width: 360px) {
        .nav__info-number {
          font-size: 1.7rem; } }
      @media (max-width: 340px) {
        .nav__info-number {
          font-size: 1.45rem; } }
  .nav__address {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3rem; }

.main {
  height: 86.5vh;
  width: 100%;
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../static/header-bg.png");
  background-size: cover;
  background-position: bottom;
  position: relative; }
  .main__header {
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #fff; }
  .main__title {
    text-align: center; }
    .main__title--primary {
      font-weight: 500;
      font-size: 5rem;
      font-family: 'Slabo 27px', serif;
      letter-spacing: 1px; }
      @media (max-width: 680px) {
        .main__title--primary {
          font-size: 4.3rem; } }
    .main__title--secondary {
      margin-top: 3rem;
      font-weight: 100;
      font-size: 3rem; }
      .main__title--secondary strong {
        font-weight: 100;
        margin: 0 1rem; }
  .main__icon {
    margin-top: 5rem; }
    @media (max-width: 680px) {
      .main__icon img {
        width: 10rem; } }
  .main__form {
    margin-top: 5rem;
    height: 9rem; }
    @media (max-width: 680px) {
      .main__form {
        height: 8rem; } }
    .main__form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #dddddd;
      width: 100%;
      height: 100%;
      padding: 0 1rem; }
      @media (max-width: 500px) {
        .main__form-container {
          padding: 0 .7rem; } }
  .main__input {
    height: 65%;
    border: none;
    width: 32rem;
    padding-left: 1.9rem;
    outline: none;
    font-size: 1.9rem;
    font-family: 'Roboto', sans-serif; }
    @media (max-width: 680px) {
      .main__input {
        width: 30rem;
        height: 60%;
        font-size: 1.6rem; } }
    @media (max-width: 500px) {
      .main__input {
        width: 25rem; } }
    @media (max-width: 360px) {
      .main__input {
        width: 20rem; } }
    .main__input::placeholder {
      color: #353535; }
  .main__button {
    height: 65%;
    border: none;
    background: #ffe13e;
    padding: 0 2.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer; }
    @media (max-width: 680px) {
      .main__button {
        height: 60%;
        font-size: 1.4rem;
        padding: 0 1.8rem; } }
    @media (max-width: 360px) {
      .main__button {
        padding: 0 1.2rem; } }
    @media (max-width: 320px) {
      .main__button {
        padding: 0 .9rem; } }
    .main__button-domain {
      color: #000;
      display: flex;
      justify-content: center;
      align-items: center; }
      .main__button-domain img {
        margin-left: 1.2rem; }
    .main__button-check {
      color: #fff;
      border-left: 1px solid #fff; }

.services {
  width: 100%;
  display: flex;
  flex-direction: row; }
  @media (max-width: 900px) {
    .services {
      flex-direction: column; } }
  .services__service {
    padding: 10rem 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-family: 'Roboto', sans-serif; }
    @media (max-width: 900px) {
      .services__service {
        width: 100%; } }
  .services__webhost {
    background: #202242; }
  .services__domain {
    background: #ffe13e; }
  .services__image {
    height: 18rem; }
    @media (max-width: 500px) {
      .services__image {
        width: 25rem; } }
    .services__image img {
      width: 100%; }
    .services__image-1 {
      margin-bottom: 7rem; }
    .services__image-2 {
      position: relative;
      top: 8rem; }
      @media (max-width: 500px) {
        .services__image-2 {
          top: 12rem;
          width: 29rem; } }
  .services__title {
    font-weight: 500;
    font-size: 4rem;
    margin-top: 4rem; }
    @media (max-width: 1300px) {
      .services__title {
        margin-top: 8rem; } }
    @media (max-width: 1000px) {
      .services__title {
        font-size: 3.6rem; } }
  .services__description {
    margin-top: 1.2rem;
    font-size: 1.7rem;
    text-align: center;
    width: 50%;
    line-height: 1.6;
    font-weight: 100; }
    @media (max-width: 1150px) {
      .services__description {
        width: 60%;
        font-size: 1.6rem; } }
    @media (max-width: 1000px) {
      .services__description {
        width: 70%;
        font-size: 1.5rem; } }
    @media (max-width: 900px) {
      .services__description {
        width: 50%; } }
  .services__button {
    margin-top: 1.9rem;
    outline: none;
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
    font-family: inherit;
    padding: 1.5rem 5.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s; }
    .services__button:hover {
      background: #fff;
      color: #000;
      border-radius: 5px; }

.features {
  width: 100%;
  background: url("../static/features-bg.png");
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  padding: 12rem 0; }
  .features__header {
    text-align: center;
    color: #202242;
    margin-bottom: 12rem; }
  .features__title--primary {
    font-weight: bold;
    font-size: 5rem; }
  .features__title--secondary {
    margin-top: 1rem;
    font-weight: 100;
    font-size: 2.2rem; }
  .features__container {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    @media (max-width: 1150px) {
      .features__container {
        display: grid;
        grid-template-columns: repeat(2, 40rem);
        grid-gap: 5rem;
        justify-content: center; } }
    @media (max-width: 600px) {
      .features__container {
        grid-template-columns: 40rem; } }

.feature {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .feature:not(:last-child) {
    margin-right: 5rem; }
    @media (max-width: 1150px) {
      .feature:not(:last-child) {
        margin-right: 0; } }
  .feature__horizontal {
    height: 3px;
    width: 7rem;
    background: #8d8d99;
    margin: 2rem 0; }
  .feature__title {
    font-size: 2.9rem;
    font-family: 'Slabo 27px', serif;
    color: #ffe13e;
    letter-spacing: 1px; }
  .feature__description {
    margin-top: 2rem;
    font-size: 1.35rem;
    line-height: 1.8;
    width: 31rem; }

.clients {
  padding: 12rem 0;
  font-family: 'Roboto', sans-serif; }
  .clients__header {
    display: flex;
    justify-content: center; }
    @media (max-width: 1150px) {
      .clients__header {
        flex-direction: column;
        align-items: center;
        text-align: center; } }
  .clients__info {
    width: 40rem; }
  .clients__title {
    font-weight: bold;
    font-size: 3.8rem;
    color: #202242;
    letter-spacing: 2px; }
    @media (max-width: 1150px) {
      .clients__title {
        font-size: 5rem; } }
  .clients__description {
    margin-top: 1rem;
    color: #adadad;
    font-size: 1.45rem;
    letter-spacing: 1px;
    line-height: 1.7;
    font-weight: 100; }
    @media (max-width: 1150px) {
      .clients__description {
        font-size: 1.6rem; } }
  .clients__companies {
    display: flex;
    flex-direction: row; }
    @media (max-width: 1150px) {
      .clients__companies {
        margin-top: 6rem;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4rem; } }
  .clients__company {
    margin-left: 4rem;
    width: 20rem; }
    @media (max-width: 1150px) {
      .clients__company {
        margin-left: 0;
        width: 22rem; } }
    @media (max-width: 330px) {
      .clients__company {
        width: 18rem; } }
    .clients__company img {
      width: 100%; }

.opinion {
  background: #faf9f9;
  width: 38rem;
  height: 14rem;
  padding: 3rem;
  position: relative; }
  @media (max-width: 1150px) {
    .opinion:not(:first-child) {
      margin-top: 6rem; } }
  @media (max-width: 330px) {
    .opinion {
      width: 34rem; } }
  .opinion:not(:first-child) {
    margin-left: 5rem; }
    @media (max-width: 1150px) {
      .opinion:not(:first-child) {
        margin-left: 0; } }
  .opinion__container {
    width: 100%;
    margin-top: 11rem;
    display: flex;
    justify-content: center; }
    @media (max-width: 1150px) {
      .opinion__container {
        flex-direction: column;
        align-items: center; } }
  .opinion__text {
    font-size: 1.6rem;
    color: #a4a4a4;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8; }
    @media (max-width: 330px) {
      .opinion__text {
        font-size: 1.4rem; } }
  .opinion__author {
    display: inline-block;
    font-size: 2rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    color: #8d8d99; }
  .opinion__image {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 80%;
    top: 94%;
    width: 11rem; }
    .opinion__image img {
      width: 100%; }

.banner {
  padding: 12rem 0;
  background: #202242;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif; }
  @media (max-width: 540px) {
    .banner {
      flex-direction: column; } }
  .banner__header {
    margin-right: 12rem; }
    @media (max-width: 800px) {
      .banner__header {
        margin-right: 7rem; } }
    @media (max-width: 540px) {
      .banner__header {
        margin-right: 0; } }
  @media (max-width: 540px) {
    .banner__title {
      text-align: center; } }
  .banner__title--primary {
    color: #fff;
    font-weight: 500;
    font-size: 4.4rem;
    letter-spacing: 2px; }
    @media (max-width: 1000px) {
      .banner__title--primary {
        font-size: 3.8rem;
        letter-spacing: normal; } }
    @media (max-width: 800px) {
      .banner__title--primary {
        font-size: 3.4rem; } }
    @media (max-width: 380px) {
      .banner__title--primary {
        font-size: 3rem; } }
    @media (max-width: 380px) {
      .banner__title--primary {
        font-size: 2.5rem; } }
  .banner__title--secondary {
    margin-top: .8rem;
    color: #67687b;
    font-weight: 100;
    font-size: 2rem; }
    @media (max-width: 1000px) {
      .banner__title--secondary {
        font-size: 1.7rem; } }
    @media (max-width: 800px) {
      .banner__title--secondary {
        font-size: 1.5rem; } }
    @media (max-width: 540px) {
      .banner__title--secondary {
        margin-bottom: 2.5rem;
        font-size: 1.8rem; } }
    .banner__title--secondary::after {
      content: "Follow the button in the right section"; }
      @media (max-width: 540px) {
        .banner__title--secondary::after {
          content: "Follow the below button"; } }
  .banner__button button {
    color: #202242;
    background: #ffe13e;
    font-family: inherit;
    padding: 2.2rem 4.8rem;
    font-weight: bold;
    border: 4px solid #fff;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem; }
    @media (max-width: 1000px) {
      .banner__button button {
        font-size: 1.35rem;
        padding: 2rem 4.4rem; } }
    @media (max-width: 800px) {
      .banner__button button {
        font-size: 1.3rem;
        padding: 1.9rem 3.8rem;
        border-width: 3px; } }

.footer {
  background: #363855;
  padding: 15rem 25rem 3rem 25rem; }
  @media (max-width: 1680px) {
    .footer {
      padding: 15rem 15rem 3rem 15rem; } }
  @media (max-width: 1360px) {
    .footer {
      padding: 15rem 10rem 3rem 10rem; } }
  @media (max-width: 1080px) {
    .footer {
      padding: 15rem 8rem 3rem 8rem; } }
  @media (max-width: 900px) {
    .footer {
      padding: 15rem 4rem 3rem 4rem; } }
  .footer__container {
    display: flex; }
    @media (max-width: 600px) {
      .footer__container {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .footer__map {
    margin-right: auto;
    width: 95rem; }
    @media (max-width: 1080px) {
      .footer__map {
        width: 85rem; } }
    @media (max-width: 1000px) {
      .footer__map {
        width: 75rem; } }
    @media (max-width: 700px) {
      .footer__map {
        width: 60rem; } }
    @media (max-width: 600px) {
      .footer__map {
        margin-right: 0;
        width: 75rem; } }
    @media (max-width: 500px) {
      .footer__map {
        width: 65rem; } }
    @media (max-width: 430px) {
      .footer__map {
        width: 55rem; } }
    @media (max-width: 370px) {
      .footer__map {
        width: 45rem; } }
    .footer__map img {
      width: 100%; }
  .footer__nav {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 5rem; }
    @media (max-width: 1080px) {
      .footer__nav {
        margin-top: 2.5rem; } }
    @media (max-width: 1000px) {
      .footer__nav {
        margin-top: 0; } }
    @media (max-width: 600px) {
      .footer__nav {
        margin-top: 7rem;
        text-align: center; } }
    .footer__nav-title {
      font-weight: 500;
      font-size: 2.2em; }
    .footer__nav-links {
      list-style-type: none;
      margin-top: 1.5rem; }
    .footer__nav-link {
      font-weight: 100;
      font-size: 1.4em; }
      .footer__nav-link a {
        display: inline-block;
        border-bottom: 1px solid #565870;
        padding: 1rem 1.5rem; }
    .footer__nav-social {
      color: #ffe13e;
      margin-top: 4rem;
      font-size: 1.8rem; }
      .footer__nav-social i:not(:last-child) {
        margin-right: 1.2rem; }
  .footer__copy {
    color: #fff;
    margin-top: 10rem;
    text-align: center;
    font-family: 'Roboto', sans-serif; }
    .footer__copy-text {
      margin-top: 1.8rem;
      font-size: 1.4rem; }
