$color-white: #fff;
$color-black: #000;
$color-gray: #ebebeb;

$color-gray-dark: #8d8d99;
$color-gray-light: #faf9f9;

$color-primary-yellow: #ffe13e;

$color-primary-darkblue: #202242;
$color-secondary-darkblue: #363855;