.main{
    height: 86.5vh;
    width: 100%;
    background: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('../static/header-bg.png');
    background-size: cover;
    background-position: bottom;
    position: relative;

    &__header{
        position: relative;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        color: $color-white;
    }

    &__title{
        text-align: center;

        &--primary{
            font-weight: 500;
            font-size: 5rem;
            font-family: 'Slabo 27px', serif;
            letter-spacing: 1px;

            @media(max-width: 680px){
                font-size: 4.3rem;
            }
        }

        &--secondary{
            margin-top: 3rem;
            font-weight: 100;
            font-size: 3rem;

            strong{
                font-weight: 100;
                margin: 0 1rem;
            }

        }

    }

    &__icon{
        margin-top: 5rem;

        img{
            @media(max-width: 680px){
                width: 10rem;
            }
        }
        
    }

    &__form{
        margin-top: 5rem;
        height: 9rem;

        @media(max-width: 680px){
            height: 8rem;
        }

        &-container{
            display: flex;
            justify-content: center;
            align-items: center;
            background: #dddddd;
            width: 100%;
            height: 100%;
            padding: 0 1rem;

            @media(max-width: 500px){
                padding: 0 .7rem;
            }

            
        }

    }

    &__input{
        height: 65%;
        border: none;
        width: 32rem;
        padding-left: 1.9rem;
        outline: none;
        font-size: 1.9rem;
        font-family: 'Roboto', sans-serif;

        @media(max-width: 680px){
            width: 30rem;
            height: 60%;
            font-size: 1.6rem;
        }

        @media(max-width: 500px){
            width: 25rem;
        }

        @media(max-width: 360px){
            width: 20rem;
        }

        &::placeholder{
            color: #353535;
        }
    }

    &__button{
        height: 65%;
        border: none;
        background: $color-primary-yellow;
        padding: 0 2.2rem;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;

        @media(max-width: 680px){
            height: 60%;
            font-size: 1.4rem;
            padding: 0 1.8rem;
        }

        @media(max-width: 360px){
            padding: 0 1.2rem;
        }

        @media(max-width: 320px){
            padding: 0 .9rem;
        }
        
        &-domain{
            color: $color-black;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                margin-left: 1.2rem;
            }
        }

        &-check{
            color: $color-white;
            border-left: 1px solid $color-white;
        }
    }
    
}