.services{
    width: 100%;
    display: flex;
    flex-direction: row;

    @media(max-width: 900px){
        flex-direction: column;
    }

    &__service{
        padding: 10rem 0;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $color-white;
        font-family: 'Roboto', sans-serif;

        @media(max-width: 900px){
            width: 100%;
        }

    }

    &__webhost{
        background: $color-primary-darkblue;
    }

    &__domain{
        background: $color-primary-yellow;
    }

    &__image{
        height: 18rem;

        @media(max-width: 500px){
            width: 25rem;
        }
        
        img{
            width: 100%;
        }

        &-1{
            margin-bottom: 7rem;
        }

        &-2{
            position: relative;
            top: 8rem;

            @media(max-width: 500px){
                top: 12rem;
                width: 29rem
            }
        }

    }

    &__title{
        font-weight: 500;
        font-size: 4rem;
        margin-top: 4rem;

        @media(max-width: 1300px){
            margin-top: 8rem;
        }

        @media(max-width: 1000px){
            font-size: 3.6rem;
        }

       

    }

    &__description{
        margin-top: 1.2rem;
        font-size: 1.7rem;
        text-align: center;
        width: 50%;
        line-height: 1.6;
        font-weight: 100;

        @media(max-width: 1150px){
            width: 60%;
            font-size: 1.6rem;
        }

        @media(max-width: 1000px){
            width: 70%;
            font-size: 1.5rem;
        }

        @media(max-width: 900px){
            width: 50%;
        }
    }

    &__button{
        margin-top: 1.9rem;
        outline: none;
        background: transparent;
        border: 3px solid $color-white;
        color: $color-white;
        font-family: inherit;
        padding: 1.5rem 5.5rem;
        font-size: 1.5rem;
        font-weight: 500;
        cursor: pointer;
        transition: all .3s;

        &:hover{
            background: $color-white;
            color: $color-black;
            border-radius: 5px;
        }

    }

}